html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* background-color: #f4f7fe !important; */
}

/* general */
.txt-red {
  color: #ed3833;
}

.text-black {
  color: #303030;
}

.section-container {
  margin-top: 150px;
}

li i,
.testimonials-container i {
  color: #ed3833;
  font-size: 20px;
}

/* navbar */
.nav-section .navbar {
  background-color: #0d101c !important;
  color: white !important;
  height: 80px !important;
}

/* jumbotron */
.header-jumbotron-section .home-jumbotron,
.footer-jumbotron-section .home-jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1529333166437-7750a6dd5a70?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80");
  width: 100%;
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-jumbotron-section .home-jumbotron .jumbotron-txt-container,
.facilities-jumbotron .jumbotron-txt-container {
  background: rgba(0, 0, 0, 0.86);
  padding: 30px;
  color: white;
}

.btn-red {
  background-color: #ed3833;
  color: white;
}

/* intro section */

.intro-container .intro-img {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.intro-container .heading-1 {
  font-weight: 800;
  padding: 15px;
}

.intro-container .intro-p {
  line-height: 3em;
}

/* facilities jumbotron */

.facilities-jumbotron .jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80");
  width: 100%;
  height: 600px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.facilities-jumbotron .jumbotron-txt-container {
  text-align: center;
  padding: 20px;
}

/* facilities container */

.facilities-container li,
.intro-container li {
  border: none !important;
}

.facilities-container .logo-img {
  width: 100%;
}

/* leaders card  */
.leaders-container .card {
  border: none !important;
}

.card .card-img-top {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}
/* testimonials container  */
.testimonials-container {
  background-color: #f4f7fe !important;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* footer */

.footer-jumbotron-section .home-jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
  width: 100%;
  height: 350px;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0 !important;
  color: wheat !important;
}

.footer-jumbotron-section .home-jumbotron .jumbotron-txt-container {
  padding: 30px;
  width: 100%;
  height: 100%;
}
